[Unit]
Description=Gorram client daemon

[Service]
ProtectSystem=strict
ReadWritePaths=/etc/gorram
ExecStart=/usr/bin/gorram-client -conf "/etc/gorram/client.toml"
Restart=on-failure
User=gorram

[Install]
WantedBy=default.target
