# Name of the client
## Must match the name of the YAML file on the server with the client's checks
name: "clientname"

# A shared secret used to negotiate the initial handshake
shared_secret: "sharedsecret"

# Full HTTP URL to the server
server_address: "http://127.0.0.1:50000"

# base64-encoded ed25519 private key of the client
## Generate these using: /usr/bin/gorram-client -generate-keys 
private_key: WhmrVbjjnXFihpS1EeA8WlPm-HvxvaNmsXHw05ujR-tclBjjZQ7HzlYr_OQsdL-zjjf3x3xSJV_AQE4qu1UjZA=="
