[Unit]
Description=Gorram server
After=network-online.target
Requires=network-online.target

[Service]
ProtectSystem=strict
ReadWritePaths=/etc/gorram
ExecStart=/usr/bin/gorram-server -conf "/etc/gorram/"
Restart=on-failure
User=gorram

[Install]
WantedBy=default.target
