# A shared secret used to negotiate the initial handshake
shared_secret: "sharedsecret"

# The address clients will connect to
listen_address: "0.0.0.0:40000"

# Additional debug logs
debug: true

# A basic HTML page is served, showing connected clients and allowing alert muting
domain: "https://127.0.0.1/"

# The following alert methods are available: 

## Log to stdout
alert_method: "log"

## Push alerts to an AlertManager instance
#alert_method: "alertmanager"
#alertmanager_url: "https://alertmanager.example/"

## Use https://pushover.net/ to forward alerts
#alert_method: "pushover"
#pushover:
#    app_key: "agu2wbf8xjxyhpoiukom5zohrat5mi"
#    user_key: "u85jAznd6E3z6VFXVzigMT7enchi4C"

## Use a Matrix.org bot to fire alerts
### This bot has the ability to silence alerts via replies
#alert_method: "matrix"
#matrix:
#    username: "gorram"
#    password: "example"
#    homeserver: "matrix.org"
#    mautrixdb: "/etc/gorram/matrix.db"

# SSL certificate locations, in order to serve via TLS
## HTTP may be used using the -insecure flag for gorram-server
ssl_cert_path: "/etc/gorram/certificate.crt"
ssl_cert_key_path: "/etc/gorram/certificate.key"

