Source: gorram-server
Section: admin
Priority: optional
Maintainer: aqtrans <aqtrans@jba.io>
Homepage: https://git.jba.io/go/gorram

Package: gorram-server
Architecture: amd64
Depends: libc6, adduser
Description: Server for gorram, the single-process system monitoring solution. 
 A Nagios replacement inspired by Telegraf. Written in Golang.
