Package: gorram
Maintainer: Jordan Anderson <me@jba.io>
Version: 1.0
Architecture: amd64
Depends: libc6, adduser
Description: Gorram, the single-process system monitoring solution. 
 A system monitoring tool inspired by Telegraf and Sensu. Written in Golang.
