[Unit]
Description=Gorram server
After=network-online.target
Requires=network-online.target

[Service]
ProtectSystem=strict
ReadWritePaths=/etc/gorram
ExecStart=/usr/bin/gorram-server -cert "/etc/gorram/cert.pem" -key "/etc/gorram/cert.key" -conf "/etc/gorram/config.toml"
Restart=on-failure
User=gorram

[Install]
WantedBy=default.target
